* {
  background-color: rgb(254, 254, 254);
}

.index-container {
  max-width: 600px;
  height: 100px;
  margin: 500px auto;
  padding: 75px 0;
  border-radius: 14px;
  background-color: rgb(196, 195, 195);
  box-shadow: 2px 2px 25px 1px rgb(74, 73, 73);
}

h2 {
  background-color: rgb(196, 195, 195);
  color: black;
  text-align: center;
}

.index-image {
  background-color: transparent;
  position: absolute;
  left: 44%;
  top: 375px;
}
.index-image img {
  border-radius: 50%;
  box-shadow: 3px 3px 40px 1px rgb(10, 7, 7);
}

button {
  display: block;
  margin: auto;
  background-color: rgb(54, 145, 145);
  width: 300px;
  height: 50px;
  border-radius: 24px;
  transition-duration: 0.6s;
}
button:hover {
  transform: translatey(5px);
}

button a {
  text-decoration: none;
  background-color: rgb(54, 145, 145);
  font-weight: bold;
  color: rgb(254, 254, 254);
  transition: color 1s;
}

button a:hover {
  color: rgb(253, 128, 3);
}

@media screen and (max-width: 1200px) {
  .index-image {
    left: 44%;
  }
}

@media screen and (max-width: 800px) {
  .index-image {
    left: 40%;
  }
}
